body {
    font-family: 'Poppins', sans-serif;
}

body, p, label, b {
    color: var(--black);
}

.slider-group label,
.horizontal-switches label {
    color: #808080; /* Slightly grey color */
}

/* Main container styling */
.password-generator-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 580px;
    margin: 50px auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Styling for form controls */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.form-group label {
    margin-left: 5px;
    font-size: 14px; /* Mindre tekststørrelse for labels */
}

/* Slider styling */
input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 4px;
    background: #e0e0e0;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
    transition: background 0.3s;

}

/* Når slideren bliver brugt */
input[type="range"]:hover {
    background: #d3d3d3; /* Ændrer track farven, når du hover */
}

/* Style på thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--blue);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Når thumb er aktiv */
input[type="range"]:active::-webkit-slider-thumb {
    background: #aabcd8;
    transform: scale(1.1);
}

/* Style for the slider and number input group */
.slider-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Container for slider and input to align them properly */
.slider-and-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; /* Spacing between slider and input */
    width: 60%;
}

.slider {
    width: 80%; /* Slider takes most of the space */
}

.input-number {
    width: 50px;
    padding: 5px;
    text-align: center;
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--blue);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="range"]:active::-moz-range-thumb {
    background: #90a1b8;
    transform: scale(1.1);
}

/* Fjerner pilene fra number input i Chrome, Safari og Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Fjerner pilene fra number input i Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Tilpasser number input til at matche tekst input styling */
input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box; /* Sørg for at padding og border tages i betragtning */
}


/* Input box */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Hold standardstørrelsen for inputbokse */
}

/* Divider styling */
.hr-divider {
    border: none;
    border-top: 1px solid #909090; /* Lys grå linje */
    margin: 20px 0; /* Lidt afstand til de andre elementer */
    width: 100%; /* Fylder hele bredden */
}

/* Button styling */
.btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.button-group {
    display: flex;
    gap: 10px; /* Space between the buttons */
}

/* Primary button */
.btn-primary {
    background-color: var(--blue);
    color: white;
    border: 2px solid var(--blue); /* Add an outline */
}

.btn-primary:hover {
    background-color: #aabcd8;
}

/* Secondary button */
.btn-secondary {
    background-color: white;
    color: var(--blue);
    border: 2px solid var(--blue); /* Add an outline */
}

.btn-secondary:hover {
    border: 2px solid  #aabcd8; /* Add an outline */

}

/* Custom switch styling */
.form-control-switch {
    position: relative;
    width: 35px; /* Mindre bredde */
    height: 18px; /* Mindre højde */
    -webkit-appearance: none;
    background-color: #c6c6c6;
    outline: none;
    border-radius: 18px; /* Justeret til mindre højde */
    transition: background-color 0.2s;
    cursor: pointer;
}

.form-control-switch:checked {
    background-color: var(--orange);
}

.form-control-switch:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px; /* Mindre bredde på knappen */
    height: 14px; /* Mindre højde på knappen */
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
}

.form-control-switch:checked:before {
    transform: translateX(17px); /* Justeret til den nye bredde */
}

/* Gør switches til at wrappe rundt */
.horizontal-switches {
    display: flex;
    flex-wrap: wrap; /* Tillader wrapping */
    gap: 15px; /* Afstand mellem hver switch/label */
    margin-bottom: 20px;
}

/* Container for hver switch og dens label */
.switch-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/* Sørg for, at label og switch er justeret korrekt */
.switch-container label {
    margin-right: 5px;
    text-align: left;
    font-size: 14px; /* Mindre tekst for labels */
}

.generated-password {
    text-align: center; /* Center the text */
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Keep the standard size for input boxes */
}

/* Styling for generated password label (holder standardstørrelse) */
.generated-password-label {
    font-size: 16px; /* Standardstørrelse for den genererede password tekst */
}

.footer {
    font-family: 'Poppins', sans-serif;
    background-color: var(--blue);
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 14px;
    color: #808080; /* Set text color */
}

.footer label{
    color: #808080; /* Slightly grey color */
}

.footer svg {
    fill: var(--black); /* Set SVG color */
}

.container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    gap: 20px; /* Space between the SVG and the box */
}

.logo-svg {
    margin-top: 70px;
    width: 370px; /* Adjust the width as needed */
    height: 370px; /* Adjust the height as needed */
}